extends layout/baseAuth.pug
block variables
    - const choice = "Log In"
    - const choiceLink = "sign.html"
    - const discription = "Already have an account?"
    - const title = "Ready"
block content
    .circle
        figure.circle__letter
        .ready
            p.ready__go
                | You are almost ready to go!
            span
                | Please check your email to activate your account