@mixin checkbox {
    input[type="checkbox"]{
        display: none;
    }
    
    input[type="checkbox"] + label:before{
        border: 2px solid #f2f2f2;
        border-radius: 2px;
        color: transparent;
        content: "\2713";
        display: inline-block;
        font-size: 20px;
        height: 20px;
        line-height: 22px;
        margin: -5px 5px 0 0;
        text-align: center;
        transition: color ease .3s;
        vertical-align: middle;
        width: 20px;
    }
    
    input[type="checkbox"]:checked + label:before{
        color: $success;
    }
      
}